@page
@model QuanLyKho.Controllers.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ChiTietNhapXuat</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ChiTietNhapXuat.so_phieu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ChiTietNhapXuat.so_phieu)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ChiTietNhapXuat.ngay_lap_phieu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ChiTietNhapXuat.ngay_lap_phieu)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ChiTietNhapXuat.ma_vt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ChiTietNhapXuat.ma_vt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ChiTietNhapXuat.ten_vt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ChiTietNhapXuat.ten_vt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ChiTietNhapXuat.dvt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ChiTietNhapXuat.dvt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ChiTietNhapXuat.sl_nhap)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ChiTietNhapXuat.sl_nhap)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ChiTietNhapXuat.sl_xuat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ChiTietNhapXuat.sl_xuat)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ChiTietNhapXuat?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
